/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
body {
	font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color:green;
    color: blue;
}
h1.display-3 {
	font-size: 3rem;
}

.site-footer {
	margin-top: 4em;
}

.site-footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-nav .nav-link {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;
}

/* Buttons */
.btn {
	border-radius: 0.15em;
}

/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
	border-radius: 0;
}
.check {
background-color: green;
text-align: center;
width:200px;
height:200px;
border:1px solid;
} 
.rapper {
	width:100%;
	height:200px;
	border: 1px solid;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items: flex-start;
}


/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}

/* Article */
.article {
	margin-bottom: 2em;
}

.article-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article-read-more a:hover,
.article-read-more a:focus {
	text-decoration: none;
}

.article-read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article-read-more:last-child {
	margin-bottom: 0;
}
.article row {
  display:flex;
  flex-direction: row;
   justify-content:space-between;
 
}
.img-fluid {
	flex:0; 
}

.article-title {
	flex:1;
}
.article-lead {
	flex:2;
}

.container2 {
 display:flex;
 flex-direction: column;
}



@media screen and (min-width:480px) {

	h1.display-3 {
		font-size: 4.5rem;
	}
}

@media screen and (min-width: 990px) {

	.navbar-brand > img {
	   max-height: 80px;
	}

}



/* 1. Identify the css selector to target
 the jumbotron title.
 * 2. set the font size to 3rem
  for the title.
  * 3. use a media query to change
  the font.
  * size to 4.5rem when it reaches 
  480px in width.
  */
 
@media screen and (min-width: 480px) {
	.h1.display-3 > img {
	max-height: 40px;
}

